<%- include ../partials/header %>
				<div id="selection" class="active">
					<label>
						<select name="lang">
							<option value="html">HTML</option>
							<option value="css">CSS</option>
							<option value="scss">SCSS</option>
							<option value="javascript">JavaScript</option>
						</select>
					</label>
					<button id="action-settings"><i class="fa fa-cog"></i>&nbsp;Settings</button>
					<button id="action-minify"><i class="fa fa-compress"></i>&nbsp;Minify</button>
					<button id="action-prettify"><i class="fa fa-expand"></i>&nbsp;Prettify</button>
				</div>

				<div id="settings">
					<label>
						Use Spaces
						<input id="action-spaces" type="checkbox" checked>
					</label>
					<label>
						<select name="tabs">
							<option value="2">Tab Size: 2px</option>
							<option value="4">Tab Size: 4px</option>
							<option value="8">Tab Size: 8px</option>
						</select>
					</label>
				</div>

				<div id="inputEditor" class="editor">
					<h4 class='editorTitle'>Input</h4>
					<div id="edit">&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;current&quot;&gt;Code Formatter&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Base64 Converter&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Unicode Converter&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</div>
				</div>

				<div id="outputEditor" class="editor">
					<h4 class='editorTitle'>Output</h4>
					<div id="output">&lt;ul&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;current&quot;&gt;Code Formatter&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Base64 Converter&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Unicode Converter&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</div>
				</div>
			</main>

			<footer>
				<p>&copy; 2014 - Adonis K.</p>
			</footer>
		</div>

		<script src="/js/ace/ace.js"></script>
		<script src="/js/tools/formatter.js"></script>
	</body>
</html>