<%- include ../partials/header %>
<%- include subheader %>
			<main id="tool">
				<div id="selection" class="active">
					<button id="action-settings"><i class="fa fa-cog"></i>&nbsp;Settings</button>
					<button id="action-prettify"><i class="fa fa-play"></i>&nbsp;Prefix</button>
				</div>

				<div id="settings">
					<label>
						Use Spaces
						<input id="action-spaces" type="checkbox" checked>
					</label>
					<label>
						<select name="tabs">
							<option value="2">Tab Size: 2px</option>
							<option value="4">Tab Size: 4px</option>
							<option value="8">Tab Size: 8px</option>
						</select>
					</label>
				</div>

				<div id="inputEditor" class="editor">
					<h4 class='editorTitle'>Input</h4>
					<div id="edit"></div>
				</div>

				<div id="outputEditor" class="editor">
					<h4 class='editorTitle'>Output</h4>
					<div id="output"></div>
				</div>
			</main>

<%- include ../partials/footer %>
		</div>

		<script src="/js/ace/ace.js"></script>
		<script src="/js/tools/prefixer.js"></script>
	</body>
</html>