nav#sub-navigation
	ul
		li
			a(href="/tools/prefixer")
				| Prefixer
		li
			a(href="/tools/prettify")
				| Prettify
		li
			a(href="/tools/base64")
				| Base64 Decoder
		li
			a(href="/tools/url")
				| Url Decoder
		li
			a(href="/tools/color")
				| Color Tool
