<nav id="sub-navigation">
	<ul>
		<li><a href="/tools/formatter" class="current">Code Formatter</a></li>
		<li><a href="/tools/prefixer">Prefixer</a></li>
		<li><a href="/tools/base64">Base64 Decoder</a></li>
		<li><a href="/tools/unicode">Unicode Decoder</a></li>
		<li><a href="/tools/url">Url Decoder</a></li>
		<li><a href="/tools/color">Color Tool</a></li>
	</ul>
</nav>