nav#sub-navigation
	ul
		li
			a(href="/tools/prefixer")
				| Prefixer
		li
			a(href="/tools/formatter")
				| Code Formatter
		li
			a(href="/tools/base64")
				| Base64 Decoder
		li
			a(href="/tools/unicode")
				| Unicode Decoder
		li
			a(href="/tools/url")
				| Url Decoder
		li
			a(href="/tools/color")
				| Color Tool
