extends ../layout
block header
	include ../partials/header
block content
	include subheader
	main#tool
		p(style="background-color: #fff; color: #222; text-align: center; font-size: 1em; font-weight: bold; padding: 2em")
			| Tools are still a Work In Progress
block footer
	include ../partials/footer
