<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body id="top">
	<div id="wrap">
			<header>
				<h1 id="brand">Adonis K.</h1>
				<div id="brand-image"></div>
				<nav id="navigation" role='navigation'>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/projects">Projects</a></li>
						<li><a href="/gallery">Gallery</a></li>
						<li><a href="/tools" class="active">Tools</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>