<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<style> header a { color: #fff; text-decoration: none; } </style>
		<link rel='stylesheet' href='/css/style.css' />
		<script src="//use.typekit.net/jyy4cgv.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
	</head>
	<body id="top">
	<div id="wrap">
			<header>
				<h1 id="brand">Adonis K.</h1>
				<div id="brand-image"></div>
				<div class="clearfix">
					<nav id="navigation" role='navigation'>
						<ul>
							<li><a href="/home"><i class="fa fa-home"></i> Home</a></li>
							<li><a href="/resume"><i class="fa fa-user"></i> Resume</a></li>
							<li><a href="/projects"><i class="fa fa-tasks"></i> Projects</a></li>
							<!-- <li><a href="/gallery"><i class="fa fa-picture-o"></i> Gallery</a></li> -->
							<li><a href="/tools"><i class="fa fa-cogs"></i> Tools</a></li>
							<!-- <li><a href="/contact"><i class="fa fa-envelope"></i> Contact</a></li> -->
						</ul>
					</nav>
					<nav id="navigation-links">
						<ul>
							<li><a href="http://aklp.gr" target="_blank"><i class="fa fa-comments"></i> Blog</a></li>
							<li><a class="link-github" href="https://github.com/varemenos" title="Github" target="_blank"><i class="fa fa-github"></i></a></li>
							<li><a class="link-twitter" href="https://twitter.com/adon1sk" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
							<li><a class="link-facebook" href="https://www.facebook.com/tonyVoid" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
							<li><a class="link-google-plus" href="https://plus.google.com/+AdonisK" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="link-linkedin" href="https://www.linkedin.com/in/adonisk" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</nav>
				</div>
