button#menu
header
	h1.brand
		| Adonis K.
	h2.brand
		| Front-end Web Developer
	.brand-image
	nav#navigation(role='navigation')
		a(href="/home")
			i.fa.fa-home
			|  Home
		a(href="/resume")
			i.fa.fa-user
			|  Resume
		a(href="/projects")
			i.fa.fa-tasks
			|  Projects
		//- a(href="/gallery")
		//- 	i.fa.fa-picture-o
		//- 	|  Gallery
		a(href="/tools")
			i.fa.fa-cogs
			|  Tools
		//- a(href="/contact")
		//- 	i.fa.fa-envelope
		//- 	|  Contact
	nav#navigation-links
		a(href="http://aklp.gr", title="My personal Blog", target="_blank")
			i.fa.fa-comments
			|  Blog
		a.link-github(href="https://github.com/varemenos", title="Adonis K. on Github" target="_blank")
			i.fa.fa-github
		a.link-codepen(href="http://codepen.io/adonisk", title="Adonis K. on Codepen" target="_blank")
			i.fa.fa-codepen
		a.link-deviantart(href="http://aklp.deviantart.com", title="Adonis K. on Deviant Art" target="_blank")
			i.fa.fa-deviantart
		a.link-twitter(href="https://twitter.com/_adonisk", title="Adonis K. on Twitter" target="_blank")
			i.fa.fa-twitter
		a.link-linkedin(href="https://www.linkedin.com/in/adonisk", title="Adonis K. on Linkedin" target="_blank")
			i.fa.fa-linkedin
