header
	h1#brand
		| Adonis K.
	div#brand-image
	div.clearfix
		nav#navigation(role='navigation')
			ul
				li
					a(href="/home")
						i.fa.fa-home
						|  Home
				li
					a(href="/resume")
						i.fa.fa-user
						|  Resume
				li
					a(href="/projects")
						i.fa.fa-tasks
						|  Projects
				//- li
				//-     a(href="/gallery")
				//-         i.fa.fa-picture-o
				//-         |  Gallery
				li
					a(href="/tools")
						i.fa.fa-cogs
						|  Tools
				//- li
				//-     a(href="/contact")
				//-         i.fa.fa-envelope
				//-         |  Contact
		nav#navigation-links
			ul
				li
					a(href="http://aklp.gr", target="_blank")
						i.fa.fa-comments
						|  Blog
				li
					a.link-github(href="https://github.com/varemenos", title="Github" target="_blank")
						i.fa.fa-github
				li
					a.link-twitter(href="https://twitter.com/adon1sk", title="Twitter" target="_blank")
						i.fa.fa-twitter
				li
					a.link-facebook(href="https://www.facebook.com/tonyVoid", title="Facebook" target="_blank")
						i.fa.fa-facebook
				li
					a.link-google-plus(href="https://plus.google.com/+AdonisK", title="Google+" target="_blank")
						i.fa.fa-google-plus
				li
					a.link-linkedin(href="https://www.linkedin.com/in/adonisk", title="Linkedin" target="_blank")
						i.fa.fa-linkedin
