header
	h1#brand
		| Adonis K.
	div#brand-image
	div.clearfix
		nav#navigation(role='navigation')
			ul
				li
					a(href="/home")
						i.fa.fa-home
						|  Home
				li
					a(href="/resume")
						i.fa.fa-user
						|  Resume
				li
					a(href="/projects")
						i.fa.fa-tasks
						|  Projects
				//- li
				//-     a(href="/gallery")
				//-         i.fa.fa-picture-o
				//-         |  Gallery
				li
					a(href="/tools")
						i.fa.fa-cogs
						|  Tools
				//- li
				//-     a(href="/contact")
				//-         i.fa.fa-envelope
				//-         |  Contact
		nav#navigation-links
			ul
				li
					a(href="http://aklp.gr", title="My personal Blog", target="_blank")
						i.fa.fa-comments
						|  Blog
				li
					a.link-github(href="https://github.com/varemenos", title="Adonis K. on Github" target="_blank")
						i.fa.fa-github
				li
					a.link-codepen(href="codepen.io/adonisk", title="Adonis K. on Codepen" target="_blank")
						i.fa.fa-codepen
				li
					a.link-deviantart(href="http://aklp.deviantart.com", title="Adonis K. on Deviant Art" target="_blank")
						i.fa.fa-deviantart
				li
					a.link-twitter(href="https://twitter.com/adon1sk", title="Adonis K. on Twitter" target="_blank")
						i.fa.fa-twitter
				li
					a.link-linkedin(href="https://www.linkedin.com/in/adonisk", title="Adonis K. on Linkedin" target="_blank")
						i.fa.fa-linkedin
