nav#sub-navigation
	ul
		li
			a(href="#titles")
				| Title
		li
			a(href="#skills-and-expertise")
				| Skills &amp; Expertise
		li
			a(href="#experience")
				| Experience
		li
			a(href="#education")
				| Education
		li
			a(href="#languages")
				| Languages
		li
			a(href="#personal-details")
				| Personal Details
