nav#sub-navigation
	a(href="#titles")
		| Title
	a(href="#skills-and-expertise")
		| Skills &amp; Expertise
	a(href="#experience")
		| Experience
	a(href="#education")
		| Education
	a(href="#languages")
		| Languages
