<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
	<div id="wrap">
			<header>
				<h1 id="brand">Adonis K.</h1>
				<div id="brand-image"></div>
				<nav id="navigation" role='navigation'>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="#">Projects</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#" class="active">Tools</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
				<nav id="sub-navigation">
					<ul>
						<li><a href="/formatter" class="current">Code Formatter</a></li>
						<li><a href="/prefixer">Prefixer</a></li>
						<li><a href="/base64">Base64 Decoder</a></li>
						<li><a href="/unicode">Unicode Decoder</a></li>
						<li><a href="/url">Url Decoder</a></li>
					</ul>
				</nav>
			</header>
			<main>