<!DOCTYPE html>
<html>
	<head>
		<title>Adonisk.com > Tools</title>
		<link rel='stylesheet' href='/css/style.css' />
	</head>
	<body>
		<div id="wrap">
			<ul>
				<li><a href="#" class="current">Code Formatter</a></li>
				<li><a href="#">Base64 Converter</a></li>
				<li><a href="#">Unicode Converter</a></li>
			</ul>

			<div class="selection">
				<select name="lang">
					<option value="html">HTML</option>
					<option value="css">CSS</option>
					<option value="sass">SASS</option>
					<option value="js">JavaScript</option>
				</select>
				<button><i class="fa fa-compress"></i><span class="desc">Minify</span></button>
				<button><i class="fa fa-expand"></i><span class="desc">Prettify</span></button>
			</div>

			<h2>input</h2>
			<div id="edit">&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;current&quot;&gt;Code Formatter&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Base64 Converter&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Unicode Converter&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</div>

			<h2>output</h2>
			<div id="output">&lt;ul&gt;
	&lt;li&gt;&lt;a href=&quot;#&quot; class=&quot;current&quot;&gt;Code Formatter&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Base64 Converter&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;#&quot;&gt;Unicode Converter&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</div>
		</div>

		<script src="/js/ace/ace.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>