section(itemscope, itemtype="http://schema.org/Person", style="display: none;")
	a(itemprop="url", href="http://adonisk.com")
		div(itemprop="name")
			| Adonis Kakoulidis
	div(itemscope, itemtype="http://schema.org/Organization")
		span(itemprop="name")
			| Goodvidio
	div(itemprop="jobtitle")
		| Front-end Web Developer
	div(itemprop="description")
		| My name is Adonis Kakoulidis and I am a Web Developer from Greece. I've studied Software Engineering at the Technological Institute of Central Greece. I specialize in Front-end Web Development with a focus on clean and efficient CSS and JavaScript code with over 6 years of experience. My tools of trade consist of a text editor (Sublime Text 3), a Linux Distro (usually ArchLinux), a terminal emulator, various CLI tools, SSH, Adobe Photoshop and more. In my free time, I usually try to use my imagination and creativity into creating stuff with CSS and JavaScript in codepen or codemagic. I also author technical posts at my blog (aklp.gr) and work on new and exciting open source side-projects. Once in a while I do consulting and debugging for other fellow developers who ask for my assistance. In the past I did a lot of digital artwork using tools like Adobe Photoshop, Inkscape, Adobe After Effects and Cinema4D.
	div(itemprop="address", itemscope, itemtype="http://schema.org/PostalAddress")
		div
			span(itemprop="addressLocality")
				| Thessaloniki
		div(itemprop="addressCountry")
			| Greece
	div(itemprop="email")
		| aklp08@gmail.com
	div(itemprop="telephone")
		| +30 6981533120
