<%- include ../partials/header %>
				<section id="banner">
					<div id="banner-details">
						<div class="img">
							<img id="banner-avatar" src="/img/vlogo.png">
						</div>
						<h1>Adonis K.</h1>
						<h2>Front-end Web Developer</h2>
					</div>
				</section>
			</header>
			<main id="home">
				<h1>Herol Warl</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste doloremque ea atque perferendis. A doloribus laboriosam fugiat repellat. Repudiandae animi harum saepe ratione fuga maiores perspiciatis a quis similique iure unde eligendi molestiae laborum dolores ipsam odio aliquid consectetur quo voluptate soluta quasi mollitia ducimus natus id aspernatur ea at iusto! Corrupti maiores quis voluptate delectus qui optio recusandae eaque illo consequatur obcaecati amet distinctio dicta doloribus est incidunt atque in quidem odit nihil suscipit sit possimus doloremque. Molestiae assumenda quaerat sit odio qui laboriosam quos eius doloribus porro quo nesciunt laudantium natus amet. Doloribus dolorum quo cupiditate quis necessitatibus minus possimus ab quia est ducimus veniam voluptatibus! Debitis dolorem libero quam minima dicta consequatur tenetur eum ipsa qui atque error deserunt vitae id accusamus beatae voluptatum quas ad eveniet eos veniam suscipit deleniti nisi labore quibusdam blanditiis expedita quia illo praesentium quasi aliquid! Cumque quis quidem consequatur quasi odit!
				</p>
			</main>
<%- include ../partials/footer %>
		</div>
	</body>
</html>