<%- include ../partials/header %>
			</header>
			<main id="home">
				<h1>
					Hi! I'm Adonis
					<br>
					<span>a Front-end Web Developer from Greece.</span>
				</h1>
			</main>
<%- include ../partials/footer %>
		</div>
	</body>
</html>
