<%- include ../partials/header %>
			</header>
			<main id="home">
				<h1>
				Hi! I'm Adonis, a Front-end Web Developer from Greece.
				</h1>
			</main>
<%- include ../partials/footer %>
		</div>
	</body>
</html>
