extends ../layout
block header
	include ../partials/header
block content
	main#home
		.hero
			.hero--title
				| Hi! I'm Adonis
			.hero--subtitle
				| a Front-end Web Developer from Greece.
block footer
	include ../partials/footer
