extends ../layout
block header
	include ../partials/header
block content
	main#home
		h1
			| Hi! I'm Adonis
			br
			span
				| a Front-end Web Developer from Greece.
block footer
	include ../partials/footer
