<%- include ../partials/header %>
<%- include subheader %>
			</header>
			<main id="about">
				<h1>About</h1>

				<div id="introduction">
					<h2><a href="#introduction" class="section-anchor">&sect;</a>Introduction</h2>
					<p>My name is Adonis K. and I am a Web Developer from Greece that specializes in Front-end Web Development. I also do work for the Back-end but my love lies in the first half of the stack. The tools of trade I use consist of a text editor (Sublime Text 3), a Linux Distro (usually Ubuntu or Fedora), a terminal, various CLI tools, FTP, SSH, Adobe Photoshop and many more. In my free time, I usually fiddle around with (S)CSS and JavaScript in codepen and codemagic, I also author posts at my blog (aklp.gr) or work on a new and exciting open source side-project. Once in a while I do consulting and debugging for other fellow developers who ask for my assistance. In the past I did a lot of digital art work using tools like Adobe Photoshop, Adobe Illustrator, Adobe After Effects and Cinema4D.</p>
				</div>

				<div id="titles">
					<h2><a href="#titles" class="section-anchor">&sect;</a>Title(s)</h2>
					<ul>
						<li>Front-end Web Developer</li>
						<li>Junior Software Engineer</li>
						<li>Digital Artist</li>
					</ul>
				</div>

				<div id="skills-and-expertise">
					<h2><a href="#skills-and-expertise" class="section-anchor">&sect;</a>Skills &amp; Expertise</h2>
					<h3>Me</h3>
					<ul>
						<li>Quick study and eager to learn</li>
						<li>Dedicated to my work</li>
						<li>My job is my main hobby, so working is a fun activity</li>
						<li>Knowledgeable about various computer technology topics, be it the hardware, software, networking etc.</li>
					</ul>
					<h3>Web Technologies</h3>
					<ul>
						<li>Exceptional HTML5 and CSS (also SASS) knowledge.</li>
						<li>Strong JavaScript, AJAX, JQuery, JSON and Node.js knowledge.</li>
						<li>Strong Apache2, PHP and MySQL knowledge.</li>
						<li>Excellent debugging, UX and responsive design skills.</li>
						<li>"Photoshop Veteran", with more than 8 years of experience.</li>
						<li>Well informed about any new web-development trends, technology advances and various other topics related to my work.</li>
						<li>Wordpress and PhpBB3 customization (themes, plugins etc)</li>
					</ul>
					<h3>Other</h3>
					<ul>
						<li>Git &amp; GitHub.</li>
						<li>Mobile web-development.</li>
						<li>Cross browser support.</li>
						<li>Able to do Accessibility work.</li>
						<li>Search engine friendly.</li>
						<li>Print Media (logos, banners, posters etc).</li>
						<li>Photo &amp; Video Manipulation.</li>
						<li>Social Media.</li>
						<li>Consulting.</li>
					</ul>
				</div>

				<div id="links">
					<h2><a href="#links" class="section-anchor">&sect;</a>Links</h2>
					<ul>
						<li><a href="https://github.com/varemenos">GitHub</a></li>
						<li><a href="http://adonisk.com">Personal Website</a></li>
						<li><a href="http://aklp.gr">Personal Blog</a></li>
						<li><a href="http://codepen.io/adonisk">Codepen Profile</a></li>
					</ul>
				</div>

				<div id="experience">
					<h2><a href="#experience" class="section-anchor">&sect;</a>Experience</h2>
					<h3>Senior Web Developer and Maintainer at codemagic.gr</h3>
					<h4>February 2013 - Present</h4>
					<p>Front and back end development for the website <a href="http://codemagic.gr">codemagic.gr</a>. It's an open source and powerful online playground similar to codepen, cssdeck and others.</p>
					<p><a href="http://codemagic.gr">[site]</a>, <a href="https://github.com/varemenos/codemagic">[source]</a></p>
					<h3>Senior Web Developer and Maintainer for verepo</h3>
					<h4>February 2013 - Present</h4>
					<p>veRepo is an open source SASS library of modules and mixins for robust and maintainable front-end development using SASS. Most of the modular items/objects in this repo will work by just adding 1 class name to the html element you desire to style (although there are some exceptions).</p>
					<p><a href="http://varemenos.github.io/verepo">[site]</a>, <a href="https://github.com/varemenos/verepo">[source]</a>, <a href="http://varemenos.github.io/verepo/docs/">[documentation]</a></p>
					<h3>Senior Web Developer at Linuxteam of Central Greece</h3>
					<h4>2011 - 2014</h4>
					<ul>
						<li>Wordpress customization, development and theme design</li>
						<li>PhpBB3 design theme</li>
						<li>PHP Web Development</li>
					</ul>
					<p><a href="http://linuxteam.teilam.gr/">[site]</a>, <a href="http://linuxteam.teilam.gr/forum/">[forum]</a></p>
					<h3>Author and Developer at aklp.gr</h3>
					<h4>2010 - Present</h4>
					<p>Blogger at aklp.gr and web developer at <a href="http://projects.aklp.gr">projects.aklp.gr</a> (soon to be moved in the following location <a href="http://adonisk.com/tools">adonisk.com/tools</a>)</p>
					<p><a href="http://aklp.gr">[blog]</a>, <a href="https://github.com/varemenos/aklpgr-dropplets-template">[blog theme source]</a>, <a href="https://github.com/varemenos/aklpgr-blog-posts">[blog post source]</a></p>
					<h3>Senior Web Developer at OnibakuBanzai.com</h3>
					<h4>2010 - 2014</h4>
					<ul>
						<li>Wordpress customization, development and theme design</li>
						<li>PhpBB3 design theme (the banner design is a collaboration between me and bandit_legend)</li>
					</ul>
					<p><a href="http://www.onibakubanzai.com/">[site]</a>, <a href="http://forum.onibakubanzai.com/">[forum]</a></p>
					<h3>Freelance work</h3>
					<h4>2008 - Present</h4>
					<p>Occasionally I also do some freelance work.</p>
				</div>

				<div id="education">
					<h2><a href="#education" class="section-anchor">&sect;</a>Education</h2>
					<h3>2009 – 2013</h3>
					<h4>Bachelor of Computer Science</h4>
					<p>Software Engineering at the Technological Educational Institute of Central Greece</p>
					<h4>Courses:</h4>
					<ul>
						<li>Linear Algebra (A1)</li>
						<li>Maths I (A2)</li>
						<li>Electronic Physics (A3)</li>
						<li>Physics (A4)</li>
						<li>Programming | (C) (A5)</li>
						<li>Introduction to Computer Systems (A6)</li>
						<li>Maths || (B1)</li>
						<li>Discrete Maths (B2)</li>
						<li>Computer Architecture | (B3)</li>
						<li>Programming || (Java) (B4)</li>
						<li>Digital Systems | (B5)</li>
						<li>Data Structures (C) (B6)</li>
						<li>Computer Architecture || (C1)</li>
						<li>Probability, Statistics (C2)</li>
						<li>English Computer Terminology (C3)</li>
						<li>Digital Systems || (C4)</li>
						<li>Creation and Analysis of Algorithms (C5)</li>
						<li>Programming ||| (Java) (C6)</li>
						<li>Operating Systems (D1)</li>
						<li>Linear systems, Linear transformations (D2)</li>
						<li>Databases (D3)</li>
						<li>Data Networks | (D4)</li>
						<li>Introduction to Philosophy (D5)</li>
						<li>Business Research (D6)</li>
						<li>Artificial Inteligence (E1)</li>
						<li>Micro-Controllers, Micro-Processors (E2)</li>
						<li>Software Engineering (E3)</li>
						<li>Digital Signal Processing (E4)</li>
						<li>Data Networks || (E5)</li>
						<li>Distributed Systems (F1)</li>
						<li>Security and Data Protection (F2)</li>
						<li>Telecommunications (F3)</li>
						<li>Automatic Control Systems (A.C.S.) (F4)</li>
						<li>Large Scale Integrated Circuits (F6)</li>
						<li>Computer network designing (G1)</li>
						<li>E-Commerce and Web Technologies (G2)</li>
						<li>Digital Image Processing (G3)</li>
						<li>Special Topics of Distributed Systems (G4)</li>
						<li>Information Systems (G5)</li>
					</ul>
					<h3>2005 – 2008</h3>
					<h4>Computer Science Highschool</h4>
					<p>Democritus Technological Highschool of Thessaloniki, Greece.</p>
					<h4>Courses:</h4>
					<p>Programming, Introduction to Software Engineering, Computer Hardware, Network Engineering, Network Management and more</p>
				</div>

				<div id="languages">
					<h2><a href="#languages" class="section-anchor">&sect;</a>Languages</h2>
					<ul>
						<li>Greek (Native)</li>
						<li>English (Proficient)</li>
					</ul>
				</div>

				<div id="personal-details">
					<h2><a href="#personal-details" class="section-anchor">&sect;</a>Personal Details</h2>
					<p>Full Name: Kakoulidis Adonis<br>
					Current Location: Thessaloniki, Greece<br>
					Date of Birth: 23/02/1989</p>
				</div>
			</main>
			<footer>
				<p>&copy; 2014 - Adonis K.</p>
			</footer>
		</div>
	</body>
</html>