<nav id="sub-navigation">
	<ul>
		<li><a href="#introduction">Introduction</a></li>
		<li><a href="#titles">Title</a></li>
		<li><a href="#skills-and-expertise">Skills &amp; Experience</a></li>
		<li><a href="#links">Links</a></li>
		<li><a href="#experience">Experience</a></li>
		<li><a href="#education">Education</a></li>
		<li><a href="#languages">Languages</a></li>
		<li><a href="#personal-details">Personal Details</a></li>
	</ul>
</nav>